<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1012807142130-r4f53kfasm36o7lfp3j16fel1uu1i87i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1012807142130-r4f53kfasm36o7lfp3j16fel1uu1i87i</string>
	<key>API_KEY</key>
	<string>AIzaSyAdOszzZvqisHIY0M3yv8a6Cdn9hftnmj0</string>
	<key>GCM_SENDER_ID</key>
	<string>1012807142130</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.App</string>
	<key>PROJECT_ID</key>
	<string>attendaceapp-6d413</string>
	<key>STORAGE_BUCKET</key>
	<string>attendaceapp-6d413.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1012807142130:ios:f05f4c1f7017750f83de6b</string>
</dict>
</plist>